.container {
    margin: auto;
    width: 30%;
    background-color: antiquewhite;
    text-align: center;
    padding: 10px;
}

#display-slide {
    text-align: center;
}

.owl-carousel .animated { 
    animation-duration: 200ms !important;
    animation-fill-mode: both !important; 
}